<h1>The Hoods I've Rolled Through</h1>

<p>Spots (in order of when I visited them):</p>

<ol>
  <% @places.each() do |place| %>
    <li><%= place.description() %></li>
  <% end %>
</ol>

<p>Add a new spot</p>

<form action="/place" method="post">
  <label for="description">Spot Name (City, State or City, Country): </label>
  <input id = "description" name = "description" type = "text">

  <button type = "submit">Add spot</button>
</form>
